/*----------BODY----------*/
	@font-face {
		font-family: Gotham;
		src: url(fonts/Gotham-Black.woff2);
		src: url(fonts/Gotham-Black.woff);
		font-weight: 900;
	}
	
	body {
		font: 400 13px/22px 'Open Sans', sans-serif;
		color: rgb(123,123,123);
		cursor: default;
	}
	h1 {
		font: 900 35px Gotham, sans-serif;
		color: rgb(255,255,255);
		letter-spacing: -0.025em;
		text-transform: uppercase;
	}
	h2 {
		font: 900 30px Gotham, sans-serif;
		color: rgb(57,75,80);
		letter-spacing: -0.025em;
		text-transform: uppercase;
	}
	h2.lightStyle {
		color: rgb(255,255,255);
	}
	.subtitle {
		font: 400 16px 'Open Sans', sans-serif;
		color: rgb(57,75,80);
	}
	.subtitle.lightStyle {
		color: rgb(255,255,255);
	}
	.button {
		font: 400 14px 'Open Sans', sans-serif;
		color: rgb(255,255,255);
		text-transform: uppercase;
		padding: 14px 45px;
		border-radius: 2px;
		text-decoration: none;
		background-color: rgb(255,187,66);
		display: inline-block;
		transition: .2s;
		border: 1px solid rgba(255,187,66,0);
	}
	
	.menu.button {
		color: rgb(134,134,134);
		background-color: rgb(255,255,255);
		padding: 10px 20px;
	}
	.menu.button:hover {
		color: rgb(255,255,255);
		background-color: rgb(255,187,66);
	}
	.container {
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}


/*----------HEADER----------*/

	.headerInner {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin: 20px 0;
	}
	nav .menu {
		position: relative;
		top: 7px
	}


/*----------BANNER----------*/

	.banner {
		background-color: rgb(112,157,202);
		height: 590px;
		padding-top: 105px;
	}
	.banner .title {
		margin-bottom: 35px;
	}

	.bannerImg img {
		position: relative;
		top: 50px;

	}

/*----------Form----------*/
	input {
		padding: 14px 45px;
		border: none;
		border-radius: 2px;
		margin-bottom: 2px;
		width: 282px;
		margin-right: 5px;
	}
	input[type="text"]{
		background: rgb(255,255,255) url(img/icon/user1.png) 
		19px center/13px no-repeat;
	}
	input[type="email"]{
		background: rgb(255,255,255) url(img/icon/envelope1.png) 
		19px center/13px no-repeat;
	}
	input[type="tel"]{
		background: rgb(255,255,255) url(img/icon/telephone1.png) 
		19px center/13px no-repeat;
	}
	.newsInput {
		border: 1px solid grey;
		margin-right: 8px;
	}

	input::placeholder {
		color: rgb(169,169,169);
		font-size: 13px;
	}
	input:focus {
		outline: none;
	}
	.submit {
		color: rgb(255,255,255);
		text-transform: uppercase;	
		background-color: rgb(255,187,66);
		width: auto;
		margin-right: 0;
		outline: 1px solid rgb(255,187,66);
		transition: .2s;
	}
	.submit:hover {
		color: rgb(255,187,66);
		background-color: rgb(255,255,255);
	}
	.submit:active {
		box-shadow: inset 0 0 3px rgba(0,0,0,.5);
	}

/*?????????--POINTS--?????????*/
	.points {
		margin-top: 70px;
	}
	.point {
		display: inline-block;
		width: 16px;
		height: 16px;
		border: 3px solid rgb(169,169,169);
		border-radius: 50%;
	}
	.point:nth-child(2) {
		margin: 0 5px; 
	}
/*??????????????????*/


/*----------SERVICE----------*/

	.services {
		margin-top: 200px;
	}
	.servInner {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin: 100px 0;
	}
	.servItem {
		width: 48%;
		text-align: left;
		padding: 0 80px;
		margin-bottom: 80px;
		position: relative;
	}
	.servItem h3 {
		font: 700 16px 'Open Sans', sans-serif;
		color: rgb(57,75,80);
		text-transform: uppercase;
		margin-bottom: 18px;
	}

/*----------Icons----------*/

	.servItem h3::before {
		font-family: 'Font Awesome 5 Free','Font Awesome 5 Brands';
  		font-weight: 900;
		color: rgba(112,157,202);
		font-size: 45px;
		position: absolute;
		left: 0;
		transition: .5s
	}
	.item_1::before {
		content: "\f017"
	}
	.item_2::before {
		content: "\f013"
	}
	.item_3::before {
		content: "\f19d"
	}
	.item_4::before {
		content: "\f135"
	}
	.item_5::before {
		content: "\f18b"
	}
	.item_6::before {
		content: "\f155"
	}

	.servItem:hover h3::before {
		color: rgb(255,187,66);
	}


/*----------ABOUT US----------*/

	.about {
		background-color: rgb(255,187,66);
		height: 624px;
		width: 100%;
		display: flex;
		color: rgb(255,255,255);
		line-height: 24px;
	}
	.about div {
		width: 50%;
		overflow: hidden;
	}
	.about h2 {
		margin-bottom: 25px; 
	}
	.aboutContent {
		padding: 160px 80px;
	}
	.about .button {
		border: 1px solid rgb(255,255,255);
		margin-top: 35px;
	}
	.about .button:hover {
		color: rgb(255,187,66);
		background-color: rgb(255,255,255);
	}


/*----------PRICE----------*/

	.price {
		background-color: rgb(231,237,243);
		width: 100%;
		height: 900px;
		padding-top: 130px;
	}
	.priceTitle {
		margin: 0 auto 80px;
		text-align: center;
	}
	.priceInner {
		display: flex;
		flex-wrap: nowrap;
	}
	.priceItem {
		padding: 45px 20px 30px;
		width: 33%;
		background-color: rgb(255,255,255);
		text-align: center;
		border: 1px solid rgb(204,213,223);
		border-radius: 2px;
		transition: .5s;
	}

	.pritin {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		width: auto;
		margin: 0 auto;
		text-transform: uppercase;
	}
	.pritin h4 {
		font-weight: 300;
		font-size: 25px;
		color: rgb(129,139,149);
		margin-bottom: 35px;
		transition: 1s;
	}
	.pritin .button {
		margin: 22px 0;
	}
	.cost {
		font-weight: 700;
		font-size: 60px;
		color: rgb(255,187,66);
		vertical-align: top;
		margin-bottom: 15px;
		transition: 1s;
	}
	.cost span {
		font-size: 30px;
		position: relative;
		bottom: 22px;
	}
	.date {
		font-weight: 300;
		font-size: 13.5px;
		color: rgb(129,139,149);
		margin-bottom: 35px;
		transition: 1s;
	}
	.advantages {
		font-size: 14px;
		font-weight: 400;
		color: rgb(181,187,193);
		border-top: 1px solid rgb(226,233,240);
		padding: 10px 0;
		transition: 1s;
	}
	
	.priceItem:hover {
		transform: scale(1.1);
		background-color: rgb(112,157,202);
		z-index: 2;
	}
	.priceItem:hover .prittitle h4,
	.priceItem:hover .cost,
	.priceItem:hover .date,
	.priceItem:hover .advantages {
		color: white;
	}
	.price .button:hover {
		background-color: rgb(255,255,255);
		color: rgb(255,187,66);
	}


/*----------WORKS----------*/

	.worksTitle {
		margin: 150px auto 75px;
		text-align: center;
	}
	.worksTitle p {
		font: 300 18px/22px Lato, sans-serif;
		color: rgb(57,75,80);
	}
	.worksInner {
		display: flex;
		flex-flow: row nowrap;
	}
	.worksItem {
		width: 25%;
		text-align: center;
		padding: 0 30px;
		font: 400 13px/22px "Open Sans", sans-serif;
		color: rgb(123,123,123);
		position: relative;
	}
	.worksItem h3 {
		font: 700 20px Lato, sans-serif;
		color: rgb(57,75,80);
		text-transform: uppercase; 
		margin-bottom: 30px;
	}
	.worksItem i {
		color: rgb(112,157,202);
		margin-bottom: 70px;
	}
	.worksButton {
		text-align: center;
		margin: 90px 0 150px;
	}
	.worksItem:nth-child(odd)::before {
		content: url(img/Arrow_1.png);
		position: absolute;
		right: -21%;
		top: -8%;
		z-index: 1;
	}
	.worksItem:nth-child(2)::before {
		content: url(img/Arrow_2.png);
		position: absolute;
		right: -21%;
		top: 25%;
		z-index: 1;
	}
	.works .button:hover {
		background-color: rgb(255,255,255);
		color: rgb(255,187,66);
		border-color: rgba(255,187,66,1);
	}


/*----------CLIENTS----------*/

	.clients {
		background-color: rgb(255,193,85);
		text-align: center;
		padding: 136px 0;
	}
	.clientsTitle {
		margin-bottom: 60px;
		color: white;
	}
	.clientsInner {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.clientsItem {
		padding: 30px 20px;
		width: 48%;
		background-color: rgb(255,255,255);
		margin-bottom: 20px;
		text-align: left;
		display: flex;
	}
	
	.clientsItem img {
		border-radius: 50%;
		height: 100px;
	}
	.clientsItem article {
		margin-left: 30px;
	
	}
	.clientsItem address {
		color: rgb(246,119,44);
		text-transform: uppercase;
		margin-top: 20px;
	}
	.clientsItem span {
		color: rgb(153,169,174);
	}
	.clientsItem p {
		position: relative;
	}
	.clientsItem p::before {
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		content: "\f10e";
		font-size: 8px;
		position: absolute;
		left: -15px;
	}
	.clientsItem p::after {
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		content: "\f10d";
		font-size: 8px;
		position: absolute;
		right: 15px;
	}		


/*----------NEWS----------*/


	.newsInner {
		padding-top: 150px;
		height: 950px;
		background: url(img/newsback.png)
		no-repeat 50% 85%/90%;
		border-bottom: 1px solid rgb(227,231,235);
	}
	.newsTitle {
		margin-bottom: 40px;
	}
	.address {
		margin: 100px auto 10px;
		padding: 60px 0 100px;
		width: 300px;
		height: auto;
		text-align: center;
		background: url(img/Shape_4.png) 50% 50%/contain no-repeat;
	}
	.address h4 {
		font: 700 15px "Open Sans", sans-serif;
		color: rgb(255,255,255);
		text-transform: uppercase;
	}
	.address p {
		color: rgb(174,183,186);
	}
	p.addressMail {
		color: rgb(255,187,66);
	}
	.newsLogo {
		margin: 0 auto;
	}


/*----------FOOTER----------*/

.footer nav {
	margin: 60px auto 0;
}
.footerTel a {
	font-size: 23px;
	color: rgb(57,75,80);
	text-decoration: none;
	display: inline-block;
	margin: 30px auto;
}
.footerTel a::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f879  ";
}
.social {
	position: relative;
	left: 20px;
}
.social a {
	display: inline-block;
	color: rgb(112,157,202);
	font-size: 20px;
	margin-right: 20px;
	transition: .2s;
}
.social a:hover {
	color: rgb(255,187,66);
}
.copyright {
	text-align: center;
	background-color: rgb(112,157,202);
	padding: 20px 0;
	margin-top: 50px;
	color: rgb(255,255,255);
}